body{
    padding: 0;
    margin: 0;
    background-image:url(istockphoto-1178120644-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(167, 220, 220);
}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.bad button{
    border-radius: 20px;
}
.bad {
    padding: 4%;
    padding-top: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}